



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.user-profile-form-container * {
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Container principal do perfil */
.usuario-profile-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-top: 8px solid #cb0000;
}

.usuario-profile-header {
  text-align: center;
}

.usuario-profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.usuario-profile-header h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.usuario-profile-header p {
  font-size: 14px;
  color: #777;
}

/* Estilos do formulário de edição */
.usuario-profile-info {
  margin-top: 20px;
}

.usuario-edit-profile-form,
.usuario-view-profile-info {
  margin-top: 20px;
}

.usuario-input-group {
  margin-bottom: 8px;
}

.usuario-input-group label {
  font-size: 0.9rem; /* Tamanho reduzido */
  font-weight: 600;
  color: #000000;
  margin-bottom: 1px;
}

.usuario-input-field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #e89404;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease; /* Transition effect for focus */
}

.usuario-input-field:focus {
  border: 2px solid #da0000;
  box-shadow: 0px 0px 8px rgba(218, 0, 0, 0.7);
  background-color: #fff; /* Subtle background change */
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #da0000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute; 
  top: 47%; 
  left: 47%; 
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 12px rgba(72, 72, 72, 0.7);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilo do botão de salvar */
.usuario-save-btn {
  padding: 6px 20px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background-color: #e89404;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.555);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin: 12px 0px 0px 0px;
}

/* Estilo do botão de editar */
.usuario-edit-btn {
  padding: 6px 20px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background-color: #e89404;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.555);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin: 12px 0px 0px 0px;
}

/* Estilo do botão de cancelar */
.usuario-cancel-btn {
  padding: 6px 20px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background-color: #e89404;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.555);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin: 12px 0px 0px 20px;
}

.usuario-save-btn:hover,
.usuario-edit-btn:hover,
.usuario-cancel-btn:hover {
  background-color: #da7000;
  color: #000000;
  transform: scale(1); /* Ampliação ao passar o mouse */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562); /* Sombra mais visível */
}

.usuario-save-btn:active,
.usuario-edit-btn:active,
.usuario-cancel-btn:active {
  color: #ffffff;
  background-color: #eb0000; /* Cor mais escura no clique */
  transform: scale(0.96); /* Leve redução ao clicar */
}

/* Estilos de visualização do perfil */
.usuario-view-profile-info p {
  font-size: 16px;
  color: #333;
}

.usuario-view-profile-info button {
  margin-top: 15px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .usuario-profile-container {
    padding: 15px;
  }

  .usuario-profile-photo {
    width: 100px;
    height: 100px;
  }

  .usuario-profile-header h2 {
    font-size: 20px;
  }

  .usuario-input-field {
    font-size: 14px;
    padding: 8px; 
  }

  .usuario-save-btn,
  .usuario-edit-btn,
  .usuario-cancel-btn
   {
    width: 100%;
    padding: 12px;
    margin: 10px 10px 0px 0px;
  }
}
