


  .container-somos {
    background-color: #b1b0afc0;
    padding: 100px 0px 100px 0px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .container-somos .AppGit {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 60px;
    line-height: 1.6;
  }
  
  .container-somos .AppGit-header {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 2px 2px #000000a8;
  }
  
  .container-somos .AppGit-content {
    font-size: 1.3em;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    text-shadow: 1px 1px 1px #000000a8;
  }
  
  .container-somos .AppGit h1 {
    color: #d48700;
  }
  
  .container-somos .AppGit h2, h3 {
    color:#d48700;
  }
  
  .container-somos .AppGit ul, ol {
    margin-left: 25px;
  }
  
  .container-somos .AppGit code {
    font-size: 16px;
    background-color: #f4f4f4;
    padding: 2px 6px;
  }


/* Media Query para telas menores (como smartphones) */
@media screen and (max-width: 768px) {
  .container-somos {
      padding: 50px 0px 50px 0px;
  }

  .container-somos .AppGit {
      margin: 30px;
  }

  .container-somos .AppGit-header {
      font-size: 1.3em;
      margin-bottom: 15px;
  }

  .container-somos .AppGit-content {
      font-size: 1.1em;
      max-width: 90%;
      margin: 0 auto;
  }

  .container-somos .AppGit h1 {
      font-size: 1.5em;
  }

  .container-somos .AppGit h2, .container-somos .AppGit h3 {
      font-size: 1.2em;
  }

  .container-somos .AppGit code {
      font-size: 14px;
  }
}